<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Beranda</a>
        <a href="{{ url_for('login') }}">Masuk</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    </nav>
    <h1>Selamat Datang di Situs Pribadi Saya</h1>
    <img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="Profile Picture" style="max-width: 30%; height: auto;">
    
    <!-- Biodata Section -->
    <div class="bio">
        <h2>Profil Saya</h2>
        <p>Nama: Adam Febrian Hidayat</p>
        <p>Usia: 21 Tahun</p>
        <p>Hobi: Menggambar</p>
        <p>Deskripsi: Lulusan SMKN 1 Banyuwangi, jurusan Desain Komunikasi Visual, yang bertempat tinggal di suatu desa bernama balak yang berada di kec.songgon</p>
    </div>
</body>
</html>
